/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

 @import "../fonts/poppins/fonts.css";

$poppins-extbold: 'Poppins-ExtraBold';
$main_bgcolor: #2C2838;

.pod-cast-wrapper {
	background-color: $main_bgcolor;
	background-image: url('../images/logoOverlay.png');
	background-repeat: no-repeat;
	background-position: right top;
	height: 812px;
	max-width: 375px;
	margin: 0 auto;
}
.logo-wrapper {
	padding: 50px 0 0 28px;
}
.page-title {
	font-family: $poppins-extbold;
	font-size: 12px;
}

