@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('file:///C:/xampp-latest/htdocs/pod-castr/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}